@import '../../../assets/sass/core';


.entry-service-item{
  .btn.btn-link{
    width: 100%;
    display: flex;
    align-items: center;
    .title{
      font-weight: 600;
      font-size: 1rem;
    }
    .dropdown-icon{
      padding: 10px;
      border: 1px solid $gray-900;
      border-radius: 4px;
      margin: {
        left: auto;
        right: 0;
      };
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      width: 44px;
      i{
        line-height: 6px;
      }
    }
    &[aria-expanded="true"]{
      .dropdown-icon{
        .fas{
          transform: rotate(-180deg);
          transform-origin: center;
        }
      }
    }
  }
  .service-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 2rem;
  }
}