@import "../../../assets/sass/core";

.card.subscription {
  .card-body {
    h1 {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 12px;
    }
    .page-info {
      font-size: 14px;
      line-height: 1.43;
      margin-bottom: 2rem;
      a {
        color: $secondary;
      }
    }
    .package-list {
      .package-list-item {
        display: flex;
      }
      .card {
        &.subscription-item {
          border: 1px solid $gray-900;
          box-shadow: none;
          background-color: $gray-800;
          width: 100%;
          .card-body {
            --bs-card-spacer-x: 1.5rem;
            --bs-card-spacer-y: 1.5rem;
            h3 {
              font-family: $display-font-family;
              font-weight: 400;
              font-size: 20px;
              line-height: 28px;
              margin-bottom: 0.5rem;
            }
            .price {
              margin-bottom: 20px;
              .main-price {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                display: block;
                color: $dark;
              }
              .additional-price {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                display: block;
                color: $dark;
              }
            }
            ul.features {
              padding-left: 1rem;
              li {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
              }
            }
            p{
              &:last-of-type{
                margin-bottom: 0;
              }
            }
          }
          .card-footer {
            background-color: $gray-800;
            .btn {
              display: block;
              width: 100%;
              &:disabled {
                background-color: $gray-900;
                border-color: $gray-900;
              }
            }
          }
        }
      }
    }
  }
}
