.entry-team-item{
  display: flex;
  align-items: center;
  padding: {
    top: 1rem;
    bottom: 1rem;
  };
  .show-checkbox{
    margin-left: 1.5rem;
  }
  .item-action{
    margin: {
      left: auto;
      right: 0;
    };
    display: flex;
    gap: 1rem;
  }
}