@import "../../../assets/sass/core";
.profile-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  .profile-avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $grayLight;
    .profile-avatar-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .profile-details {
    max-width: calc(100% - 68px);
    text-align: left;
    h6 {
      font-family: $font-family-base;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0;
      text-align: left;
      + .stars {
        margin-top: 3px;
      }
    }
    .role {
      display: block;
      font-size: 12px;
      white-space: nowrap;
    }
    .stars {
      display: flex;
      align-items: center;
      gap: 0;
      > span {
        font-size: 14px;
        color: $secondary;
      }
    }
  }
}
