.license-item {
  margin-bottom: 1.5rem;
  width: 100%;
  h5 {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  .year {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
    margin-bottom: 0.25rem;
  }
  .institute {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
    margin-bottom: 0;
  }
}
