:root {
  --bs-body-font-family: "SF Pro Text", sans-serif;
  --amplify-components-button-border-color: #ced4da;
  --amplify-components-button-hover-background-color: #302b6e;
  --amplify-components-button-hover-border-color: #302b6e;
  --amplify-components-button-hover-color: #ffffff;
  --amplify-components-textfield-focus-border-color: #302b6e;
  --amplify-components-textfield-border-color: #ced4da;
  --amplify-components-textfield-color: $primary;
  --amplify-components-fieldcontrol-font-size: 15px;
  --amplify-components-fieldcontrol-line-height: 1.2;
  --amplify-components-fieldcontrol-border-color: #f1f8f5;
  --amplify-components-fieldcontrol-border-radius: 4px;
  --amplify-components-field-label-color: #333;
  --amplify-fonts-default-static: "SF Pro Text", "Raleway", sans-serif;
  --amplify-fonts-default-variable: "SF Pro Text", "Raleway", sans-serif;
  --amplify-components-authenticator-form-padding: 40px;
  --amplify-components-link-visited-color: #202223;
  --amplify-components-link-color: #202223;
  --amplify-components-link-text-decoration: underline;
}
