@font-face {
  font-family: "SF Pro Text";
  src: url("#{$CDN_PATH}/fonts/sf-pro/SFProText-Regular.woff2") format("woff2"),
    url("#{$CDN_PATH}/fonts/sf-pro/SFProText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("#{$CDN_PATH}/fonts/sf-pro/SFProText-Semibold.woff2") format("woff2"),
    url("#{$CDN_PATH}/fonts/sf-pro/SFProText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("#{$CDN_PATH}/fonts/sf-pro-display/SFProDisplay-Light.woff2")
      format("woff2"),
    url("#{$CDN_PATH}/fonts/sf-pro-display/SFProDisplay-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("#{$CDN_PATH}/fonts/sf-pro-display/SFProDisplay-Regular.woff2")
      format("woff2"),
    url("#{$CDN_PATH}/fonts/sf-pro-display/SFProDisplay-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("#{$CDN_PATH}/fonts/sf-pro-display/SFProDisplay-Medium.woff2")
      format("woff2"),
    url("#{$CDN_PATH}/fonts/sf-pro-display/SFProDisplay-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("#{$CDN_PATH}/fonts/sf-pro-display/SFProDisplay-Semibold.woff2")
      format("woff2"),
    url("#{$CDN_PATH}/fonts/sf-pro-display/SFProDisplay-Semibold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("#{$CDN_PATH}/fonts/sf-pro-display/SFProDisplay-Bold.woff2")
      format("woff2"),
    url("#{$CDN_PATH}/fonts/sf-pro-display/SFProDisplay-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
